[Unit]
Description=Mycelium Healthcheck
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/mycelium-healthcheck
ExecStart=/home/ubuntu/mycelium-healthcheck/venv/bin/gunicorn -b 0.0.0.0:1232 -w 4 main:app
Restart=always

[Install]
WantedBy=multi-user.target
